/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";
body{
  padding-bottom: 0px !important;
}
.container {
  max-width: 100%;
  max-height: calc(100vh - 60px);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #efefef;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#sidebar-container {
  margin-top: 1%;
  font-size: 150%;
  height: calc(100vh - 70px);
	overflow: scroll;
}

#wordcanvas {
  height: calc(100vh - 70px);
	overflow: scroll;
}

.card {
  margin-top: 1%;
  background-color: #fffcfc;
  margin-right: 5%;
}

.card:hover {
  background: #ffebff;
  cursor: pointer;
}

li:hover:nth-child(odd) {
    cursor: pointer;
    background-image: linear-gradient(45deg, #f2fff8 25%, #ffffff 25%, #ffffff 50%, #f2fff8 50%, #f2fff8 75%, #ffffff 75%, #ffffff 100%);
		background-size: 28.28px 28.28px;
}

li:hover:nth-child(even) {
  cursor: pointer;
  background-image: linear-gradient(45deg, #e6eafa 25%, #ffffff 25%, #ffffff 50%, #e6eafa 50%, #e6eafa 75%, #ffffff 75%, #ffffff 100%);
	background-size: 28.28px 28.28px;
}

#wordcanvas {
	margin-top: 1%;
}

.product-logo:hover {
	background: radial-gradient(yellow, #f8f9fa, #f8f9fa);
  
}

#add_new {
  border-radius: 86%;
  background-color: #6284ff;
  border-color: #fff;
  margin-top: -197%;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
  z-index: 100;
}

#add_new:hover {
  border-radius: 86%;
  background-color: #8ca5ff;
  border-color: #fff;
  margin-top: -197%;
}


#task_list{
  margin-left: 78%;
  position: fixed;
  z-index: 99;
}

.navbar {
}

.card-subtitle {
	color: #a7a7a7 !important;
}

.delete-word {
  background-color: #ff8692;
  border-radius: 86%;
  border-color: #fff;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
  margin-top: -5%;
  margin-left: 100%;
}

.new-message {
  background-color: #ffad72;
  color: #fff;
}

#chosen_word{
  z-index: 99;
  position: fixed;
  width: 90%;
  height: 30px;
  background-color: #fff;
  margin-top: 0%;
}

#list-word-filter {
  margin-top: 5%;
}

#loader {
  margin-left: 44%;
  width: 6%;
}